<a class="btn btn-primary" routerLink="/addemetteur">Faire un transfert</a>
<h1>Liste des emetteurs:</h1>
<div class="container">
    <table class="table table-trapped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Téléphone</th>
                <th>Cni</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emetteur of emetteurs">
                <td>{{emetteur.id}}</td>
                <td>{{emetteur.nom}}</td>
                <td>{{emetteur.prenom}}</td>
                <td>{{emetteur.telephone}}</td>
                <td>{{emetteur.cni}}</td>
                <td><button class="btn btn-success">Modifier</button></td>
                <td><button class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>


